-- =====================================================
-- SPARKURE CLEANING SERVICE - SUPABASE SETUP
-- =====================================================
-- 
-- IMPORTANT: Run this AFTER running Prisma migrations
-- 1. First run: npx prisma migrate dev --name init
-- 2. Then run this SQL script in Supabase SQL editor
--
-- This script sets up:
-- - Real-time subscriptions
-- - Row Level Security (RLS) policies
-- - Database triggers and functions
-- - Performance indexes
-- - Sample data

-- Enable necessary extensions
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- =====================================================
-- REAL-TIME SETUP
-- =====================================================

-- Enable real-time for all tables (only if they exist)
DO $$
BEGIN
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'users') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE users;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'cleanings') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE cleanings;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'messages') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE messages;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'chat_rooms') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE chat_rooms;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'chat_messages') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE chat_messages;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'notifications') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE notifications;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'service_requests') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE service_requests;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'payments') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE payments;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'reviews') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE reviews;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'contact_submissions') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE contact_submissions;
    END IF;
END $$;

-- =====================================================
-- ROW LEVEL SECURITY (RLS) POLICIES
-- =====================================================

-- Enable RLS on all tables (only if they exist)
DO $$
BEGIN
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'users') THEN
        ALTER TABLE users ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'cleanings') THEN
        ALTER TABLE cleanings ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'messages') THEN
        ALTER TABLE messages ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'chat_rooms') THEN
        ALTER TABLE chat_rooms ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'chat_messages') THEN
        ALTER TABLE chat_messages ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'notifications') THEN
        ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'service_requests') THEN
        ALTER TABLE service_requests ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'payments') THEN
        ALTER TABLE payments ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'reviews') THEN
        ALTER TABLE reviews ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'contact_submissions') THEN
        ALTER TABLE contact_submissions ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'phone_changes') THEN
        ALTER TABLE phone_changes ENABLE ROW LEVEL SECURITY;
    END IF;
    IF EXISTS (SELECT FROM information_schema.tables WHERE table_name = 'chat_room_members') THEN
        ALTER TABLE chat_room_members ENABLE ROW LEVEL SECURITY;
    END IF;
END $$;

-- =====================================================
-- USERS TABLE POLICIES
-- =====================================================

-- Users can view their own profile
CREATE POLICY "Users can view own profile" ON users
    FOR SELECT USING (auth.uid()::uuid = id);

-- Users can update their own profile
CREATE POLICY "Users can update own profile" ON users
    FOR UPDATE USING (auth.uid()::uuid = id);

-- Admins can view all users
CREATE POLICY "Admins can view all users" ON users
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- Admins can update all users
CREATE POLICY "Admins can update all users" ON users
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- =====================================================
-- CLEANINGS TABLE POLICIES
-- =====================================================

-- Customers can view their own cleanings
CREATE POLICY "Customers can view own cleanings" ON cleanings
    FOR SELECT USING (customer_id = auth.uid()::uuid);

-- Employees can view assigned cleanings
CREATE POLICY "Employees can view assigned cleanings" ON cleanings
    FOR SELECT USING (employee_id = auth.uid()::uuid);

-- Admins can view all cleanings
CREATE POLICY "Admins can view all cleanings" ON cleanings
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- Customers can create cleanings
CREATE POLICY "Customers can create cleanings" ON cleanings
    FOR INSERT WITH CHECK (customer_id = auth.uid()::uuid);

-- Employees can update assigned cleanings
CREATE POLICY "Employees can update assigned cleanings" ON cleanings
    FOR UPDATE USING (employee_id = auth.uid()::uuid);

-- Admins can update all cleanings
CREATE POLICY "Admins can update all cleanings" ON cleanings
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- =====================================================
-- MESSAGES TABLE POLICIES
-- =====================================================

-- Users can view messages they sent or received
CREATE POLICY "Users can view own messages" ON messages
    FOR SELECT USING (
        sender_id = auth.uid()::uuid OR receiver_id = auth.uid()::uuid
    );

-- Users can send messages
CREATE POLICY "Users can send messages" ON messages
    FOR INSERT WITH CHECK (sender_id = auth.uid()::uuid);

-- Users can update their own messages
CREATE POLICY "Users can update own messages" ON messages
    FOR UPDATE USING (sender_id = auth.uid()::uuid);

-- =====================================================
-- CHAT ROOMS TABLE POLICIES
-- =====================================================

-- Users can view chat rooms they're members of
CREATE POLICY "Users can view member chat rooms" ON chat_rooms
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM chat_room_members 
            WHERE chat_room_id = chat_rooms.id AND user_id = auth.uid()::uuid
        )
    );

-- Users can create chat rooms
CREATE POLICY "Users can create chat rooms" ON chat_rooms
    FOR INSERT WITH CHECK (true);

-- =====================================================
-- CHAT MESSAGES TABLE POLICIES
-- =====================================================

-- Users can view messages in chat rooms they're members of
CREATE POLICY "Users can view chat room messages" ON chat_messages
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM chat_room_members 
            WHERE chat_room_id = chat_messages.chat_room_id AND user_id = auth.uid()::uuid
        )
    );

-- Users can send messages to chat rooms they're members of
CREATE POLICY "Users can send chat messages" ON chat_messages
    FOR INSERT WITH CHECK (
        sender_id = auth.uid()::uuid AND
        EXISTS (
            SELECT 1 FROM chat_room_members 
            WHERE chat_room_id = chat_messages.chat_room_id AND user_id = auth.uid()::uuid
        )
    );

-- =====================================================
-- CHAT ROOM MEMBERS TABLE POLICIES
-- =====================================================

-- Users can view chat room memberships
CREATE POLICY "Users can view chat memberships" ON chat_room_members
    FOR SELECT USING (user_id = auth.uid()::uuid);

-- Users can join chat rooms
CREATE POLICY "Users can join chat rooms" ON chat_room_members
    FOR INSERT WITH CHECK (user_id = auth.uid()::uuid);

-- Users can leave chat rooms
CREATE POLICY "Users can leave chat rooms" ON chat_room_members
    FOR DELETE USING (user_id = auth.uid()::uuid);

-- =====================================================
-- NOTIFICATIONS TABLE POLICIES
-- =====================================================

-- Users can view their own notifications
CREATE POLICY "Users can view own notifications" ON notifications
    FOR SELECT USING (user_id = auth.uid()::uuid);

-- Users can update their own notifications
CREATE POLICY "Users can update own notifications" ON notifications
    FOR UPDATE USING (user_id = auth.uid()::uuid);

-- System can create notifications for users
CREATE POLICY "System can create notifications" ON notifications
    FOR INSERT WITH CHECK (true);

-- =====================================================
-- SERVICE REQUESTS TABLE POLICIES
-- =====================================================

-- Customers can view their own service requests
CREATE POLICY "Customers can view own service requests" ON service_requests
    FOR SELECT USING (customer_id = auth.uid()::uuid);

-- Employees and admins can view all service requests
CREATE POLICY "Employees and admins can view all service requests" ON service_requests
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role IN ('EMPLOYEE', 'ADMIN')
        )
    );

-- Customers can create service requests
CREATE POLICY "Customers can create service requests" ON service_requests
    FOR INSERT WITH CHECK (customer_id = auth.uid()::uuid);

-- Employees and admins can update service requests
CREATE POLICY "Employees and admins can update service requests" ON service_requests
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role IN ('EMPLOYEE', 'ADMIN')
        )
    );

-- =====================================================
-- PAYMENTS TABLE POLICIES
-- =====================================================

-- Customers can view their own payments
CREATE POLICY "Customers can view own payments" ON payments
    FOR SELECT USING (customer_id = auth.uid()::uuid);

-- Admins can view all payments
CREATE POLICY "Admins can view all payments" ON payments
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- Customers can create payments
CREATE POLICY "Customers can create payments" ON payments
    FOR INSERT WITH CHECK (customer_id = auth.uid()::uuid);

-- Admins can update payments
CREATE POLICY "Admins can update payments" ON payments
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- =====================================================
-- REVIEWS TABLE POLICIES
-- =====================================================

-- Customers can view their own reviews
CREATE POLICY "Customers can view own reviews" ON reviews
    FOR SELECT USING (customer_id = auth.uid()::uuid);

-- Everyone can view public reviews
CREATE POLICY "Everyone can view public reviews" ON reviews
    FOR SELECT USING (is_public = true);

-- Customers can create reviews for their cleanings
CREATE POLICY "Customers can create reviews" ON reviews
    FOR INSERT WITH CHECK (
        customer_id = auth.uid()::uuid AND
        EXISTS (
            SELECT 1 FROM cleanings 
            WHERE id = cleaning_id AND customer_id = auth.uid()::uuid
        )
    );

-- Customers can update their own reviews
CREATE POLICY "Customers can update own reviews" ON reviews
    FOR UPDATE USING (customer_id = auth.uid()::uuid);

-- =====================================================
-- CONTACT SUBMISSIONS TABLE POLICIES
-- =====================================================

-- Users can view their own contact submissions
CREATE POLICY "Users can view own contact submissions" ON contact_submissions
    FOR SELECT USING (user_id = auth.uid()::uuid);

-- Admins can view all contact submissions
CREATE POLICY "Admins can view all contact submissions" ON contact_submissions
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- Anyone can create contact submissions
CREATE POLICY "Anyone can create contact submissions" ON contact_submissions
    FOR INSERT WITH CHECK (true);

-- Admins can update contact submissions
CREATE POLICY "Admins can update contact submissions" ON contact_submissions
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM users 
            WHERE id = auth.uid()::uuid AND role = 'ADMIN'
        )
    );

-- =====================================================
-- PHONE CHANGES TABLE POLICIES
-- =====================================================

-- Users can view their own phone changes
CREATE POLICY "Users can view own phone changes" ON phone_changes
    FOR SELECT USING (user_id = auth.uid()::uuid);

-- Users can create phone change requests
CREATE POLICY "Users can create phone changes" ON phone_changes
    FOR INSERT WITH CHECK (user_id = auth.uid()::uuid);

-- =====================================================
-- FUNCTIONS FOR REAL-TIME NOTIFICATIONS
-- =====================================================

-- Function to create notification when cleaning is assigned
CREATE OR REPLACE FUNCTION notify_cleaning_assigned()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.employee_id IS NOT NULL AND OLD.employee_id IS NULL THEN
        INSERT INTO notifications (user_id, title, message, type, data)
        VALUES (
            NEW.customer_id,
            'Cleaning Assigned',
            'Your cleaning service has been assigned to an employee.',
            'CLEANING_SCHEDULED',
            json_build_object('cleaning_id', NEW.id, 'employee_id', NEW.employee_id)
        );
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for cleaning assignment notifications
CREATE TRIGGER trigger_cleaning_assigned
    AFTER UPDATE ON cleanings
    FOR EACH ROW
    EXECUTE FUNCTION notify_cleaning_assigned();

-- Function to create notification when cleaning status changes
CREATE OR REPLACE FUNCTION notify_cleaning_status_change()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.status != OLD.status THEN
        INSERT INTO notifications (user_id, title, message, type, data)
        VALUES (
            NEW.customer_id,
            'Cleaning Status Updated',
            'Your cleaning status has been updated to: ' || NEW.status,
            CASE 
                WHEN NEW.status = 'IN_PROGRESS' THEN 'CLEANING_STARTED'
                WHEN NEW.status = 'COMPLETED' THEN 'CLEANING_COMPLETED'
                ELSE 'SYSTEM_UPDATE'
            END,
            json_build_object('cleaning_id', NEW.id, 'status', NEW.status)
        );
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for cleaning status change notifications
CREATE TRIGGER trigger_cleaning_status_change
    AFTER UPDATE ON cleanings
    FOR EACH ROW
    EXECUTE FUNCTION notify_cleaning_status_change();

-- Function to create notification when new message is received
CREATE OR REPLACE FUNCTION notify_new_message()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO notifications (user_id, title, message, type, data)
    VALUES (
        NEW.receiver_id,
        'New Message',
        'You have received a new message.',
        'MESSAGE_RECEIVED',
        json_build_object('message_id', NEW.id, 'sender_id', NEW.sender_id)
    );
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for new message notifications
CREATE TRIGGER trigger_new_message
    AFTER INSERT ON messages
    FOR EACH ROW
    EXECUTE FUNCTION notify_new_message();

-- Function to create notification when new chat message is received
CREATE OR REPLACE FUNCTION notify_new_chat_message()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO notifications (user_id, title, message, type, data)
    SELECT 
        crm.user_id,
        'New Chat Message',
        'You have received a new message in chat.',
        'MESSAGE_RECEIVED',
        json_build_object('chat_message_id', NEW.id, 'chat_room_id', NEW.chat_room_id, 'sender_id', NEW.sender_id)
    FROM chat_room_members crm
    WHERE crm.chat_room_id = NEW.chat_room_id AND crm.user_id != NEW.sender_id;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for new chat message notifications
CREATE TRIGGER trigger_new_chat_message
    AFTER INSERT ON chat_messages
    FOR EACH ROW
    EXECUTE FUNCTION notify_new_chat_message();

-- Function to update chat room last message
CREATE OR REPLACE FUNCTION update_chat_room_last_message()
RETURNS TRIGGER AS $$
BEGIN
    UPDATE chat_rooms 
    SET last_message = NEW.content, last_message_at = NEW.created_at
    WHERE id = NEW.chat_room_id;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger to update chat room last message
CREATE TRIGGER trigger_update_chat_room_last_message
    AFTER INSERT ON chat_messages
    FOR EACH ROW
    EXECUTE FUNCTION update_chat_room_last_message();

-- Function to update chat room member last read
CREATE OR REPLACE FUNCTION update_last_read()
RETURNS TRIGGER AS $$
BEGIN
    UPDATE chat_room_members 
    SET last_read_at = NOW()
    WHERE chat_room_id = NEW.chat_room_id AND user_id = NEW.sender_id;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger to update last read timestamp
CREATE TRIGGER trigger_update_last_read
    AFTER INSERT ON chat_messages
    FOR EACH ROW
    EXECUTE FUNCTION update_last_read();

-- =====================================================
-- FUNCTIONS FOR PAYMENT NOTIFICATIONS
-- =====================================================

-- Function to create notification when payment is received
CREATE OR REPLACE FUNCTION notify_payment_received()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.status = 'COMPLETED' AND OLD.status != 'COMPLETED' THEN
        INSERT INTO notifications (user_id, title, message, type, data)
        VALUES (
            NEW.customer_id,
            'Payment Received',
            'Your payment of $' || NEW.amount || ' has been received successfully.',
            'PAYMENT_RECEIVED',
            json_build_object('payment_id', NEW.id, 'amount', NEW.amount)
        );
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for payment received notifications
CREATE TRIGGER trigger_payment_received
    AFTER UPDATE ON payments
    FOR EACH ROW
    EXECUTE FUNCTION notify_payment_received();

-- Function to create notification when payment fails
CREATE OR REPLACE FUNCTION notify_payment_failed()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.status = 'FAILED' AND OLD.status != 'FAILED' THEN
        INSERT INTO notifications (user_id, title, message, type, data)
        VALUES (
            NEW.customer_id,
            'Payment Failed',
            'Your payment of $' || NEW.amount || ' has failed. Please try again.',
            'PAYMENT_FAILED',
            json_build_object('payment_id', NEW.id, 'amount', NEW.amount)
        );
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for payment failed notifications
CREATE TRIGGER trigger_payment_failed
    AFTER UPDATE ON payments
    FOR EACH ROW
    EXECUTE FUNCTION notify_payment_failed();

-- =====================================================
-- FUNCTIONS FOR REVIEW NOTIFICATIONS
-- =====================================================

-- Function to create notification when review is received
CREATE OR REPLACE FUNCTION notify_review_received()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO notifications (user_id, title, message, type, data)
    SELECT 
        c.employee_id,
        'New Review Received',
        'You have received a new ' || NEW.rating || '-star review.',
        'REVIEW_RECEIVED',
        json_build_object('review_id', NEW.id, 'rating', NEW.rating, 'cleaning_id', NEW.cleaning_id)
    FROM cleanings c
    WHERE c.id = NEW.cleaning_id AND c.employee_id IS NOT NULL;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for review received notifications
CREATE TRIGGER trigger_review_received
    AFTER INSERT ON reviews
    FOR EACH ROW
    EXECUTE FUNCTION notify_review_received();

-- =====================================================
-- FUNCTIONS FOR SERVICE REQUEST NOTIFICATIONS
-- =====================================================

-- Function to notify admins of new service requests
CREATE OR REPLACE FUNCTION notify_new_service_request()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO notifications (user_id, title, message, type, data)
    SELECT 
        u.id,
        'New Service Request',
        'A new service request has been submitted.',
        'SYSTEM_UPDATE',
        json_build_object('request_id', NEW.id, 'service_type', NEW.service_type)
    FROM users u
    WHERE u.role IN ('ADMIN', 'EMPLOYEE');
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for new service request notifications
CREATE TRIGGER trigger_new_service_request
    AFTER INSERT ON service_requests
    FOR EACH ROW
    EXECUTE FUNCTION notify_new_service_request();

-- =====================================================
-- INDEXES FOR PERFORMANCE
-- =====================================================

-- Indexes for users table
CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_users_role ON users(role);
CREATE INDEX idx_users_created_at ON users(created_at);

-- Indexes for cleanings table
CREATE INDEX idx_cleanings_customer_id ON cleanings(customer_id);
CREATE INDEX idx_cleanings_employee_id ON cleanings(employee_id);
CREATE INDEX idx_cleanings_status ON cleanings(status);
CREATE INDEX idx_cleanings_date ON cleanings(date);
CREATE INDEX idx_cleanings_service_type ON cleanings(service_type);

-- Indexes for messages table
CREATE INDEX idx_messages_sender_id ON messages(sender_id);
CREATE INDEX idx_messages_receiver_id ON messages(receiver_id);
CREATE INDEX idx_messages_created_at ON messages(created_at);
CREATE INDEX idx_messages_is_read ON messages(is_read);

-- Indexes for chat messages table
CREATE INDEX idx_chat_messages_chat_room_id ON chat_messages(chat_room_id);
CREATE INDEX idx_chat_messages_sender_id ON chat_messages(sender_id);
CREATE INDEX idx_chat_messages_created_at ON chat_messages(created_at);
CREATE INDEX idx_chat_messages_is_read ON chat_messages(is_read);

-- Indexes for notifications table
CREATE INDEX idx_notifications_user_id ON notifications(user_id);
CREATE INDEX idx_notifications_type ON notifications(type);
CREATE INDEX idx_notifications_is_read ON notifications(is_read);
CREATE INDEX idx_notifications_created_at ON notifications(created_at);

-- Indexes for service requests table
CREATE INDEX idx_service_requests_customer_id ON service_requests(customer_id);
CREATE INDEX idx_service_requests_status ON service_requests(status);
CREATE INDEX idx_service_requests_service_type ON service_requests(service_type);
CREATE INDEX idx_service_requests_created_at ON service_requests(created_at);

-- Indexes for payments table
CREATE INDEX idx_payments_customer_id ON payments(customer_id);
CREATE INDEX idx_payments_status ON payments(status);
CREATE INDEX idx_payments_created_at ON payments(created_at);

-- Indexes for reviews table
CREATE INDEX idx_reviews_customer_id ON reviews(customer_id);
CREATE INDEX idx_reviews_cleaning_id ON reviews(cleaning_id);
CREATE INDEX idx_reviews_rating ON reviews(rating);
CREATE INDEX idx_reviews_created_at ON reviews(created_at);

-- Indexes for contact submissions table
CREATE INDEX idx_contact_submissions_user_id ON contact_submissions(user_id);
CREATE INDEX idx_contact_submissions_status ON contact_submissions(status);
CREATE INDEX idx_contact_submissions_created_at ON contact_submissions(created_at);

-- Indexes for chat room members table
CREATE INDEX idx_chat_room_members_user_id ON chat_room_members(user_id);
CREATE INDEX idx_chat_room_members_chat_room_id ON chat_room_members(chat_room_id);

-- =====================================================
-- VIEWS FOR COMMON QUERIES
-- =====================================================

-- View for user dashboard data
CREATE VIEW user_dashboard AS
SELECT 
    u.id,
    u.full_name,
    u.email,
    u.role,
    COUNT(DISTINCT c.id) as total_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'COMPLETED' THEN c.id END) as completed_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'SCHEDULED' THEN c.id END) as scheduled_cleanings,
    COUNT(DISTINCT n.id) as unread_notifications,
    COUNT(DISTINCT sr.id) as pending_service_requests
FROM users u
LEFT JOIN cleanings c ON u.id = c.customer_id
LEFT JOIN notifications n ON u.id = n.user_id AND n.is_read = false
LEFT JOIN service_requests sr ON u.id = sr.customer_id AND sr.status = 'PENDING'
GROUP BY u.id, u.full_name, u.email, u.role;

-- View for employee dashboard data
CREATE VIEW employee_dashboard AS
SELECT 
    u.id,
    u.full_name,
    u.email,
    COUNT(DISTINCT c.id) as assigned_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'IN_PROGRESS' THEN c.id END) as active_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'COMPLETED' THEN c.id END) as completed_cleanings,
    COUNT(DISTINCT n.id) as unread_notifications,
    AVG(r.rating) as average_rating
FROM users u
LEFT JOIN cleanings c ON u.id = c.employee_id
LEFT JOIN notifications n ON u.id = n.user_id AND n.is_read = false
LEFT JOIN reviews r ON c.id = r.cleaning_id
WHERE u.role = 'EMPLOYEE'
GROUP BY u.id, u.full_name, u.email;

-- View for admin dashboard data
CREATE VIEW admin_dashboard AS
SELECT 
    COUNT(DISTINCT u.id) as total_users,
    COUNT(DISTINCT CASE WHEN u.role = 'USER' THEN u.id END) as total_customers,
    COUNT(DISTINCT CASE WHEN u.role = 'EMPLOYEE' THEN u.id END) as total_employees,
    COUNT(DISTINCT c.id) as total_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'SCHEDULED' THEN c.id END) as scheduled_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'IN_PROGRESS' THEN c.id END) as active_cleanings,
    COUNT(DISTINCT CASE WHEN c.status = 'COMPLETED' THEN c.id END) as completed_cleanings,
    COUNT(DISTINCT sr.id) as pending_service_requests,
    COUNT(DISTINCT cs.id) as pending_contact_submissions,
    SUM(p.amount) as total_revenue
FROM users u
LEFT JOIN cleanings c ON true
LEFT JOIN service_requests sr ON sr.status = 'PENDING'
LEFT JOIN contact_submissions cs ON cs.status = 'PENDING'
LEFT JOIN payments p ON p.status = 'COMPLETED';

-- =====================================================
-- STORED PROCEDURES
-- =====================================================

-- Procedure to assign cleaning to employee
CREATE OR REPLACE PROCEDURE assign_cleaning_to_employee(
    p_cleaning_id UUID,
    p_employee_id UUID
)
LANGUAGE plpgsql
AS $$
BEGIN
    UPDATE cleanings 
    SET employee_id = p_employee_id, status = 'ASSIGNED'
    WHERE id = p_cleaning_id;
    
    COMMIT;
END;
$$;

-- Procedure to mark notifications as read
CREATE OR REPLACE PROCEDURE mark_notifications_read(
    p_user_id UUID,
    p_notification_ids UUID[] DEFAULT NULL
)
LANGUAGE plpgsql
AS $$
BEGIN
    IF p_notification_ids IS NULL THEN
        UPDATE notifications 
        SET is_read = true
        WHERE user_id = p_user_id AND is_read = false;
    ELSE
        UPDATE notifications 
        SET is_read = true
        WHERE user_id = p_user_id AND id = ANY(p_notification_ids);
    END IF;
    
    COMMIT;
END;
$$;

-- Procedure to create direct chat room between two users
CREATE OR REPLACE PROCEDURE create_direct_chat_room(
    p_user1_id UUID,
    p_user2_id UUID
)
LANGUAGE plpgsql
AS $$
DECLARE
    v_chat_room_id UUID;
BEGIN
    -- Check if direct chat room already exists
    SELECT cr.id INTO v_chat_room_id
    FROM chat_rooms cr
    JOIN chat_room_members crm1 ON cr.id = crm1.chat_room_id
    JOIN chat_room_members crm2 ON cr.id = crm2.chat_room_id
    WHERE cr.type = 'DIRECT'
    AND crm1.user_id = p_user1_id
    AND crm2.user_id = p_user2_id;
    
    IF v_chat_room_id IS NULL THEN
        -- Create new chat room
        INSERT INTO chat_rooms (id, type)
        VALUES (uuid_generate_v4(), 'DIRECT')
        RETURNING id INTO v_chat_room_id;
        
        -- Add both users as members
        INSERT INTO chat_room_members (user_id, chat_room_id)
        VALUES (p_user1_id, v_chat_room_id), (p_user2_id, v_chat_room_id);
    END IF;
    
    COMMIT;
END;
$$;

-- =====================================================
-- FINAL SETUP
-- =====================================================

-- Grant necessary permissions to authenticated users
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT ALL ON ALL TABLES IN SCHEMA public TO authenticated;
GRANT ALL ON ALL SEQUENCES IN SCHEMA public TO authenticated;
GRANT ALL ON ALL FUNCTIONS IN SCHEMA public TO authenticated;

-- Grant necessary permissions to anon users (for public data)
GRANT SELECT ON reviews TO anon;
GRANT SELECT ON user_dashboard TO anon;
GRANT SELECT ON employee_dashboard TO anon;
GRANT SELECT ON admin_dashboard TO anon;

-- Create a function to handle user registration
CREATE OR REPLACE FUNCTION handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO public.users (id, email, password, full_name, role)
    VALUES (
        NEW.id,
        NEW.email,
        NEW.encrypted_password,
        COALESCE(NEW.raw_user_meta_data->>'full_name', 'User'),
        'USER'
    );
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Trigger to automatically create user record
CREATE TRIGGER on_auth_user_created
    AFTER INSERT ON auth.users
    FOR EACH ROW EXECUTE FUNCTION handle_new_user();

-- =====================================================
-- SAMPLE DATA (OPTIONAL)
-- =====================================================

-- Insert sample admin user (password: admin123)
INSERT INTO users (id, email, password, full_name, role)
VALUES (
    uuid_generate_v4(),
    'admin@sparkure.com',
    crypt('admin123', gen_salt('bf')),
    'Admin User',
    'ADMIN'
);

-- Insert sample employee (password: employee123)
INSERT INTO users (id, email, password, full_name, role)
VALUES (
    uuid_generate_v4(),
    'employee@sparkure.com',
    crypt('employee123', gen_salt('bf')),
    'Employee User',
    'EMPLOYEE'
);

-- =====================================================
-- REAL-TIME SUBSCRIPTION EXAMPLES
-- =====================================================

/*
-- Example of how to subscribe to real-time events in your application:

-- Subscribe to notifications for current user
supabase
  .channel('notifications')
  .on('postgres_changes', {
    event: 'INSERT',
    schema: 'public',
    table: 'notifications',
    filter: `user_id=eq.${userId}`
  }, (payload) => {
    console.log('New notification:', payload.new);
  })
  .subscribe();

-- Subscribe to chat messages for a specific chat room
supabase
  .channel(`chat:${chatRoomId}`)
  .on('postgres_changes', {
    event: 'INSERT',
    schema: 'public',
    table: 'chat_messages',
    filter: `chat_room_id=eq.${chatRoomId}`
  }, (payload) => {
    console.log('New chat message:', payload.new);
  })
  .subscribe();

-- Subscribe to cleaning status changes for current user
supabase
  .channel('cleanings')
  .on('postgres_changes', {
    event: 'UPDATE',
    schema: 'public',
    table: 'cleanings',
    filter: `customer_id=eq.${userId}`
  }, (payload) => {
    console.log('Cleaning updated:', payload.new);
  })
  .subscribe();
*/